
<div class="container">
	<div class="row">
		<!-- 		<div class="col-lg-6 col-md-12 col-sm-12"> -->
		<!-- 			<img class="img-responsive img-home-portfolio" -->
		<!-- 				src="file.htm?filename=creedo_logo_square_margin.png"> -->
		<!-- 		</div> -->
		<div class="col-md-12 text-justify">
			<p>Creedo is an open source Java server application for data
				mining researchers who want to showcase and test their ideas. The
				two main features of Creedo are:
			<ol>
				<li>Creedo allows to define interactive data analytics
					dashboards, in which novel data mining algorithm can easily be
					embedded if they follow the framework of the realKD library. Users
					can access these dashboards through any of the standard web
					browsers. Hence, Creedo provides an effective way of defining
					demonstrators for new ideas.</li>
				<li>Furthermore, Creedo allows the design and execution of
					online user studies based on these analytics dashboards. The
					application automatically assigns tasks to study participants and
					evaluates analytics dashboards in terms of how well they support
					users in solving their task. This enables a low-cost extrinsic
					evaluation of novel data mining contributions with real users.</li>
			</ol>
			</p>
			<p>The development of Creedo was supported by the German Science
				Foundation (DFG) under grant number 'GA 1615/2-1'.</p>

			<h3>Analytics Dashboards</h3>
			<p>When you log in with the admin account that you created on
				application setup, you will see a number of demo dashboard links on
				this index page. Each of these dashboards showcases the following
				default realKD algorithms on a different dataset:
			<ul>
				<li>Association Discovery by Beamsearch</li>
				<li>Association Discovery by Direct Pattern Sampling</li>
				<li>Exceptional Model Mining by Beamsearch</li>
				<li>Exceptional Model Mining by Direct Pattern Sampling</li>
			</ul>
			</p>

			<h3>Studies</h3>
			<p>
				For a demonstration of Creedo user studies, login with your admin
				account, open the administration frame, and find under studies the
				entry <i>forsied_demo_study</i>. The option <i>State</i> underneath
				this entry allows you to toggle between different study states.
				Choose the option <i>TRIAL</i> to activate this study.
			</p>
			<p>Then you can logout and login again with one of the following
				user accounts (no password):
			<ul>
				<li>jane@realkd.org</li>
				<li>joe@realkd.org</li>
				<li>berta@realkd.org</li>
				<li>bob@realkd.org</li>
			</ul>
			Each of these accounts will see a dashboard link on this index page
			on after login. When you open these links you will see a sequence of
			instruction pages followed by an analytics dashboard. Each account
			will see a different variant of the task instructions/the analytics
			dashboard.
			</p>
			<p>
				After all demo users have finished their task, you can again login
				as admin to switch the study state to <i>EVALUTION</i>. When you now
				log in with the different demo accounts, each of them will see a new
				dashboard link, which allows them to evaluate the study results
				produced by the other participants.
			</p>

			<h3>Configuration</h3>
			<p>All contents of this Creedo installation can be customized.
				When you open the administration frame, you find pages for uploading
				your own resource files and datatables, for defining analytics
				dashboards, and for creating demo links and studies based on these
				dashboards.</p>
			<p>
				Check the <a href="https://bitbucket.org/realKD/creedo/wiki/Home">project
					wiki</a> to find out more about how to configure the contents of the
				server and to define your own user studies.
			</p>
		</div>
	</div>
</div>

