<div class="col-lg-10">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 text-justify">
				<p>
					As a new employee of the Data Science Department of the government
					of <b>The Plain</b>, you have to get familiar with the
					socio-economics status of your country. Go on and use our data
					mining tool to discover key phenomenons from <b>The Plain</b>'s
					socio-economic data. The data consists of the socio-economic
					records of 1000 representative inhabitant samples of your country.
				</p>
			</div>
		</div>
	</div>
	<div class=well>
		<p>
			The data mining tool will propose statements about the data, and
			measures associativity among the statements. Such information is
			summarized in graphic representations (<b>patterns</b>) like the
			figure below:
		</p>
		<div class="container">
			<div class="col-lg-5">
				<img class="img-responsive img-home-portfolio"
					src="file.htm?filename=association.png" alt="">
			</div>
			<ul class="col-lg-5">
				<li><p>Sec.1 states whether the statements are positively
						or negatively associated.</p></li>
				<li><p>Sec.2 lists the considered statements, along with
						the frequency (proportion of inhabitants) that each individual
						statement holds true.</p></li>
				<li><p>Sec.3 visualizes the difference between the expected
						frequency (blue bar) and the actual frequency (red bar) of the
						statements. The larger the difference the stronger the
						positive/negative association is.</p></li>
			</ul>
		</div>
		<p>Patterns can assist you to identify the socio-economic
			phenomenons in the data. For example, the pattern above can be
			interpreted as: "very rich inhabitants in the country are insecure
			about their healthy, which makes them unhappy". What is your
			interpretation?</p>
	</div>
	<div class="container">
		<div class="col-lg-5 col-sm-12">
			Click on <b>"Next"</b> to continue. On the next page, you will find a
			more detailed instruction of your task and a quick guide of operating
			our mining tool.
		</div>
	</div>
</div>