<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Creedo">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes/resources" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <dependent-module archiveName="realKD-0.1.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/realkd/realkd">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="Creedo"/>
        <property name="java-output-path" value="/Creedo/build/classes"/>
    </wb-module>
</project-modules>
